In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline

import pandas as pd
import pandasql as pdsql
import warnings
import numpy as np
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")
color = sns.color_palette()
pd.set_option("display.max_rows",999)
pd.set_option("display.max_columns", 999)

In [3]:
df = pd.read_csv(r'C:\Users\cepps\RMC\Mail Files\R_data_objects\fbxs_ita\mb_xsell_ita_ALL.txt', 
                 sep='\t', na_values='.', encoding="ISO-8859-1", error_bad_lines=False, low_memory=False)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_') 
df['drop_date'] = pd.to_datetime(df['drop_date'],infer_datetime_format=True)
df['drop_date'] = df['drop_date'].astype(str)
df.head()

,mon_ind,camp_type,camp_type1,ss7,drop_date,name,street,zip5,fico,apr,offer_amount,state,branchnumber
1,81,07.XSELL_ITA,XSELL_ITA_0916__XS9.0_16ITA,2202076,2016-09-23,Brad Tew,4808 Austin St Apt B,77004.0,618.0,0,0,TX,536.0
2,81,07.XSELL_ITA,XSELL_ITA_0916__XS9.0_16ITA,6130959,2016-09-23,Gwendolyn Rodgers,2312 Roberts St,77004.0,568.0,0,0,TX,536.0
3,81,07.XSELL_ITA,XSELL_ITA_0916__XS9.0_16ITA,6205623,2016-09-23,Ashley Weatherred,3833 Dunlavy St Apt 316,77006.0,507.0,0,0,TX,541.0
4,81,07.XSELL_ITA,XSELL_ITA_0916__XS9.0_16ITA,7444625,2016-09-23,Griselda Sacramento,180 Malone St Apt 12,77007.0,597.0,0,0,TX,533.0
5,81,07.XSELL_ITA,XSELL_ITA_0916__XS9.0_16ITA,3229113,2016-09-23,Maria Pena,3218 Cochran St,77009.0,574.0,0,0,TX,560.0

In [4]:
df.drop_date.unique()

array(['2016-09-23', '2016-10-19', '2016-11-16', '2017-03-09',
       '2017-06-07', '2017-07-07', '2017-08-04', '2017-09-07',
       '2017-01-18', '2017-04-13', '2017-05-09', '2017-10-05',
       '2017-11-07'], dtype=object)

In [8]:
df.groupby(["drop_date", "camp_type", "camp_type1"]).size().reset_index(name="count")

     drop_date     camp_type                    camp_type1  count
0   2016-09-23  07.XSELL_ITA   XSELL_ITA_0916__XS9.0_16ITA   6668
1   2016-10-19  07.XSELL_ITA  XSELL_ITA_1016__XS10.0_16ITA   4792
2   2016-11-16  07.XSELL_ITA  XSELL_ITA_1116__XS11.0_16ITA   7295
3   2017-01-18  07.XSELL_ITA   XSELL_ITA_0117__XS1.0_17ITA  11706
4   2017-03-09  07.XSELL_ITA                XSELL_ITA_0317   2892
5   2017-04-13  07.XSELL_ITA                XSELL_ITA_0417  13495
6   2017-05-09  07.XSELL_ITA                XSELL_ITA_0517  13422
7   2017-06-07  07.XSELL_ITA                XSELL_ITA_0617  16504
8   2017-07-07  07.XSELL_ITA                XSELL_ITA_0717   5176
9   2017-08-04  07.XSELL_ITA                XSELL_ITA_0817   5125
10  2017-09-07  07.XSELL_ITA                XSELL_ITA_0917   9609
11  2017-10-05  07.XSELL_ITA                XSELL_ITA_1017   9520
12  2017-11-07  07.XSELL_ITA                XSELL_ITA_1117  11723